@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-6px);
    }
        100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.flash-animate {
    animation: fadeIn 0.3s ease-out;
}